<div class="container" ng-app="system_app" ng-controller="MyMapCtrl">
<div id="map"></div>
   <!-- <div id="map"></div> -->
			<form name="directionsForm" method="post" role="form">
				<table>
					<tr>
						<td>Latitude : </td><td><div class="error form-hint" ng-show="directionsForm.latitude.$dirty && directionsForm.latitude.$error.required" ng-cloak>[["This field is required."]]</div>
						<input type="number" class="form-control" ng-class="(directionsForm.latitude.$dirty && directionsForm.latitude.$invalid) ? 'error' : ''" id="latitude" name="latitude"  ng-required="true" ng-model="latitude" >
						</td>
						<td>Longitude  : </td><td><div class="error form-hint" ng-show="directionsForm.Longitude.$dirty && directionsForm.latitude.$error.required" ng-cloak>[["This field is required."]]</div>
						<input type="number" class="form-control" ng-class="(directionsForm.longitude.$dirty && directionsForm.longitude.$invalid) ? 'error' : ''" id="longitude" name="longitude"  ng-required="true" ng-model="longitude" >
						
						</td>
						<td><button ng-click="getDirections(restaurant.latitude,restaurant.longitude)" class='btn btn-info' id="get" type="button">Get Directions</button></a>	
				</td>
					</tr>
				</table>
			
	<div ng-repeat="marker in markers" >
	<div ng-init= 'addMarker(markers)'><ul><li>[[marker.name]]</li></ul><div>
	
	</div>
	<!--<div ng-repeat="m in markers" ng-init= 'addMarker(restaurant)'>
	
	
	</div>-->
</div>
</div>
</form>
</div>