
		
	<div class='row' ng-init='getRestaurants()' ng-controller='ListCtrl'>
	<div class="container-fluid" >
	<div id="map"></div>
		<div class="btn btn-success btn-large float-right">			
				<a href="#!/createRestaurant" role="button" class="btn btn-primary"><span class = "glyphicon glyphicon-plus" ></span>Add </a>	
				</div>						
				<table>
					<tr>
						<td>Latitude : </td><td><div class="error form-hint" ng-show="signUpForm.latitude.$dirty && signUpForm.latitude.$error.required" ng-cloak>[["This field is required."]]</div>
						<input type="number" class="form-control" ng-class="(signUpForm.latitude.$dirty && signUpForm.latitude.$invalid) ? 'error' : ''" id="latitude" name="latitude"  ng-required="true" ng-model="latitude" >
						</td>
						<td>Longitude  : </td><td><div class="error form-hint" ng-show="signUpForm.Longitude.$dirty && signUpForm.latitude.$error.required" ng-cloak>[["This field is required."]]</div>
						<input type="number" class="form-control" ng-class="(signUpForm.longitude.$dirty && signUpForm.longitude.$invalid) ? 'error' : ''" id="longitude" name="longitude"  ng-required="true" ng-model="longitude" >
						</div>
						</td>
						<td><button ng-click="getDirections(restaurant.latitude,restaurant.longitude)" class='btn btn-info' id="get" type="button">Get Directions</button></a>	
				</td>
					</tr>
				</table>					
							
	
	
		<table class='table table-striped auto' >				
			<tr  ng-repeat="restaurant in restaurants">			
				<td><a href='#!/edit/[[restaurant.id]]'>[[restaurant.name]]</a></td><td><a>[[restaurant.tel]]</a></td><td><a>[[restaurant.email]]</a></td><td><a>[[restaurant.address]]</a></td>
					<div class = " btn float-right"><td width='400'>
						<a class='btn btn-info'  href="#!/viewRestaurant/[[restaurant.id]]" role="button">View</button></a>									
							<a class='btn btn-warning' href="#!/editRestuarant/[[restaurant.id]]" role="button" >Edit</a>
								<a class='btn btn-danger' ng-click="destroy(restaurant.id)" role="button" >Delete</button></a>
									<span ng-init="addMarker(restaurant)" class = "glyphicon glyphicon-plus" ></span> 						
				
								</td>	
							</div>				
						</tr>
					</table>						
		<div style="margin-top:300;">
		<restaurant></restaurant>
		</div>
	</div>
	
