<div class="menu">
    <div class="container-fluid">
		<div class="navbar-header">
			<a href="#">Restaurant Advisor</a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#!/signIn"><span class="glyphicon glyphicon-log-in"></span>[[$parent.authUser.username]]</a></li>
			</ul>
		</div>
	</div>
</div>

