<div class='row'>
	<div class='panel-body'>
		<table class='table table-striped'>				
				<tr><td><h1><Strong>Restaurant Info</strong></h1></td><td></td></tr>
				<tr><td>Name : </td><td>[[restaurant.name]]</td></tr>
				<tr><td>Address : </td><td>[[restaurant.address]]</td></tr>
				<tr><td>Tel : </td><td>[[restaurant.tel]]</td></tr>
				<tr><td> Email: </td><td>[[restaurant.email]]</td></tr>
				<tr><td>Latitude : </td><td>[[restaurant.latitude]]</td></tr>
				<tr><td>Longitude  : </td><td>[[restaurant.longitude]]</td></tr>																						
				<tr><td><a class='btn btn-info'  href="#!/list" role="button">Back</a></td><td></td></tr>
		</table>
	</div>	
</div>
								
