    <div class="container" ng-controller='SignInAdminCtrl'>    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title"><h1>Sign In</h1></div>
                        </div>     

                    <div style="padding-top:30px" class="panel-body" >

							<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
							<form id="loginform" class="form-horizontal" role="form">
                                    
								<div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <div class="error form-hint" ng-show="signUpForm.email.$dirty && signUpForm.email.$error.required" ng-cloak>[["This field is required."]]</div>
										<input type="text" class="form-control" ng-class="(signUpForm.email.$dirty && signUpForm.email.$invalid) ? 'error' : ''" id="email" name="email" ng-required="true" ng-model="admin.email"  placeholder="Enter Email">
								</div>                                
								<div style="margin-bottom: 25px" class="input-group">
										<div class="error form-hint" ng-show="signUpForm.name.$dirty && signUpForm.name.$error.required" ng-cloak>[["This field is required."]]</div>
										<input type="password" class="form-control" ng-class="(signUpForm.password.$dirty && signUpForm.password.$invalid) ? 'error' : ''" id="password" name="password" ng-required="true" ng-model="admin.password"  placeholder="Enter Password">
										<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                </div>
                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <a id="btn-login" ng-click="submit($parent.admin)" class="btn btn-success">Login  </a>

                                    </div>
                                </div>
                            </form> 
                        </div>                     
                    </div>  
        </div>
        