<div class="menu">
    <div class="container-fluid">
		<div class="navbar-header">
			<a href="#">Restuarant Advisor</a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</div>
</div>
